# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/

# env
.env
.env.local
.env*.local

# supabase local
supabase/.branches/
supabase/.temp/
.supabase/

# logs / os
*.log
npm-debug.log*
.DS_Store

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
